body{
  
background: linear-gradient(to right, #FFEFBA, #FFFFFF ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#fontHead {
    animation: change 3s infinite;
    text-align: center;
    margin-top: 20px;
    border-bottom: chocolate 3px solid;
    width: 30%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -50px;
}

@keyframes change {
    from { color: #603808 }
    to   { color: #000814

    }
}

.shad{
    box-shadow: 0px 3px 1.7em #603808;
}

.navLink{
    color: whitesmoke;
    height: 34px;
    position: relative;
    padding: 0px 10px;
    text-decoration: none;
}

.navLink:hover{
    text-decoration: none;
    color: whitesmoke;
    border-bottom: solid 2px whitesmoke;
}

.footer-p{
    color: whitesmoke;
    /* width: 40%; */
    text-align: justify;
    padding: 10px 30px;
    /* text-align: center; */
}

.footer-div{
    width: 90%;
   display: flex;
   justify-content: space-around;
   text-align: center;
   position: relative;
   left: 5%;
}

.footer-h5{
text-align: center;
color: whitesmoke;
border-bottom: whitesmoke 3px solid;
padding: 5px;
}

.menu-img{
    background-image: url('https://img.huffingtonpost.com/asset/60a41f5b2100009c797f1d59.jpeg?ops=1778_1000');
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-font-color{
    color: white;
}



.productMainDiv .productSecondDiv .productSlide img {
    width: 250px;
    height: 230px;
    object-fit: cover;
  }
  
  .productMainDiv {
    width: 90%;
    height: 300px;
    overflow: hidden;
    /* display: flex;
         justify-content:space-between; */
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px -5px 1.7em grey;
    border-radius: 20px;
  }
  .productNavigation {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .productBar {
    width: 20px;
    height: 10px;
    border: 2px solid black;
    border-radius: 10%;
    margin: 9px;
    cursor: pointer;
    transition: 0.4s;
    
  }
  .productBar:hover {
    background-color: rgb(85, 81, 81);
  }
  
  /* .secondProductSecondDiv input[name="w"] {
    position: absolute;
    visibility: hidden;
  } */
  .productSecondDiv {
    width: 200%;
    margin: 4px 30px;
    height: 100%;
    display: flex;
  }
  
  .productSlide {
    width: 12%;
    transition: 0.6s;
  }
  .productSlide img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: solid 4px grey;
  }
  #r1Product:checked ~ .s1Product {
    margin-left: 1.3%;
  }
  #r2Product:checked ~ .s1Product {
    margin-left: -46.7%;
    /* margin-right: 1%; */
  }
 

 /* input[name="r"]:nth-last-of-type(2){
position: absolute;
overflow: hidden; 
 } */
  
 input[type="radio"]{
     position: absolute;
     overflow: hidden;
 }

.price{
    text-align: center;
    color: #000814;
    font-size: 21px;
}

.card img:hover{
    opacity: .5;
}
.price:hover{
    opacity: .8;
    color: #2b2d42;
}

.contact-img{
    background-image: url('http://www.shisoburger.com/wp-content/uploads/2020/12/AMP9858-scaled-1.jpg');
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -200px;
}

footer{
    margin-top: 100px;
}